* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ededed !important;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 85px;
  font-weight: bold;
  color: #04AA6D;
}

.grid {
  display: flex;
  flex-wrap: wrap; 
  height: 500px;
  width: 500px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.grid-active {
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.menu-container {
  max-width: 200px;
  margin-left: 36px;
}

.color-container {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin-top: 36px;
}

.rgb,
.clear,
.btn-grid-activate,
.slider {
  margin-top: 48px;
}

.r {
  color: red;
}

.g {
  color: green;
}

.b {
  color: blue;
}

[type="color"] {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%)
}

.btn {
  font-weight: bold !important;
  width: 200px;
  color: #04AA6D !important;
  border: 2px solid #04AA6D !important;
}

.btn:hover {
  background-color: #04AA6D !important;
  color: #ededed !important;
  border: 2px solid #04AA6D !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.fa-brands:hover {
  color: #04AA6D !important;
}

@media (max-width: 992px) {
  .title {
    font-size: 60px;
  }

  .grid {
    height: 300px;
    width: 300px;
  }

  .menu-container {
    margin: auto;
  }

  .rgb,
  .clear,
  .btn-grid-activate,
  .slider {
    margin-top: 24px;
  }
}